# This is for cloudbuild to build TypeScript
# @see: https://github.com/GoogleCloudPlatform/buildpacks/issues/75
# @see: https://github.com/GoogleCloudPlatform/buildpacks/issues/75#issuecomment-686656544
production = false
